<html>
<head>
<title>Payveb-User Registeration</title>
</head>

<h2 ALIGN="CENTER"> Payveb User Registration </h2>

<form action="Welcome.html" method="post">
<table width="15%" bgcolor="#99e699" align="center">
<tbody>

<tr>
<td><label for="name">Name  : </label></td>
<td><input id="name" maxlength="50" name="name" type="text" /></td>
</tr>

<tr>
<td><label for="Username">Username  : </label></td>
<td><input id="Username" maxlength="25" name="name" type="text" /></td>
</tr>


<tr>
<td><label for="email">Email :</label></td>
<td><input id="email" maxlength="50" name="email" type="text" /></td>
</tr>


<tr>
<td><label for="country">Country :</label></td>
<td><input id="country" maxlength="25" name="country" type="text" /></td>
</tr>
    
<tr>
<td><label for="state">State :</label></td>
<td><input id="state" maxlength="25" name="state" type="text" /></td>
</tr>
    
<tr>
<td><label for="city">City :</label></td>
<td><input id="city" maxlength="25" name="city" type="text" /></td>
</tr>    

    
<tr>
<td><label for="password">Password:</label></td>
<td><input id="password" maxlength="25" name="pwd"
type="password" /></td>
</tr>
    
<tr>
<td><label for="repassword">Reenter Password:</label></td>
<td><input id="repassword" maxlength="25" name="repwd"
type="password" /></td>
</tr>

<tr>
<td align="right"><input name="Submit" type="Submit" value="Register User" /></td>
</tr>

</tbody>
</table>
</form>
</html>