<html>
<head>
<title>Payveb-User Registeration</title>
</head>

<h2 ALIGN="CENTER"> Payveb User Registration </h2>

<form action="Welcome.html" method="post">
<table width="15%" bgcolor="#99e699" align="center">
<tbody>

<tr>
<td><label for="name">Name  : </label></td>
<td><input id="name" maxlength="50" name="name" type="text" /></td>
</tr>

<tr>
<td><label for="username">Username  : </label></td>
<td><input id="username" maxlength="25" name="username" type="text" /></td>
</tr>


<tr>
<td><label for="email">Email :</label></td>
<td><input id="email" maxlength="50" name="email" type="text" /></td>
</tr>


<tr>
<td><label for="country">Country :</label></td>
<td><input id="country" maxlength="25" name="country" type="text" /></td>
</tr>
    
<tr>
<td><label for="state">State :</label></td>
<td><input id="state" maxlength="25" name="state" type="text" /></td>
</tr>
    
<tr>
<td><label for="city">City :</label></td>
<td><input id="city" maxlength="25" name="city" type="text" /></td>
</tr>    

    
<tr>
<td><label for="pwd">Password:</label></td>
<td><input id="pwd" maxlength="25" name="pwd"
type="password" /></td>
</tr>
    
<tr>
<td><label for="repwd">Reenter Password:</label></td>
<td><input id="repwd" maxlength="25" name="repwd"
type="password" /></td>
</tr>

<tr>
<td align="right"><input name="Submit" type="Submit" value="Register User" /></td>
</tr>

</tbody>
</table>
</form>
<script type="text/javascript">

  function checkForm(form)
  {	
  	 if(form.name.value == "") {
      alert("Error: Name cannot be blank!");
      form.name.focus();
      return false;
    }

    if(form.username.value == "") {
      alert("Error: Username cannot be blank!");
      form.username.focus();
      return false;
    }
    re = /^\w+$/;
    if(!re.test(form.username.value)) {
      alert("Error: Username must contain only letters, numbers and underscores!");
      form.username.focus();
      return false;
    }

    if(form.email.value == "") {
      alert("Error: Email cannot be blank!");
      form.email.focus();
      return false;
    }

    if(form.country.value == "") {
      alert("Error: Country name cannot be blank!");
      form.country.focus();
      return false;
    }

    if(form.state.value == "") {
      alert("Error:  State name cannot be blank!");
      form.state.focus();
      return false;
    }

    if(form.city.value == "") {
      alert("Error: City Name cannot be blank!");
      form.city.focus();
      return false;
    }

    if(form.pwd.value != "" && form.pwd.value == form.repwd.value) {
      if(form.pwd.value.length < 8) {
        alert("Error: Password must contain at least eight(8) characters!");
        form.pwd.focus();
        return false;
      }
		      

      if(form.pwd.value == form.username.value) {
        alert("Error: Password must be different from Username!");
        form.pwd.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.pwd.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.pwd.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.pwd.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.pwd.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.pwd.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.pwd.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.pwd1.focus();
      return false;
    }

    alert(" Thank you registering to Payveb " + form.pwd1.value);
    return true;
  }

</script>

</html>
